footer img {
    max-height: 40px;
}

footer ul {
    padding-left: 17px;
}

    footer li {
        list-style: disclosure-closed;
    }

        footer a {
            font-size: 1rem;
            font-weight: 400;
            color: var(--text);
        }