.top-nav {
    position: absolute;
    width: 100%;
}

/* logo */
.logo {
    max-height: 45px;
    z-index: 50;
    position: relative;
}

/* nav */
header .navbar-expand-lg {
    z-index: 50;
}

    header .navbar-nav {
        width: 100%;
        text-align: center;
    }

        header .nav-item {
            width: 20%;
            padding: 1rem;
        }

        header .nav-item:hover {
            background: var(--primary);
        }

        header .nav-item a:hover {
            color: var(--white);
        }

    /* subnav */
    header nav ul ul.sub-menu {
        display: none;
    }

        header nav ul li:hover .sub-menu {
            display: block;
            z-index: 100;
            position: absolute;
            background: var(--white);
            min-width: 40%;
            margin: 1rem 0 0 -1rem;
        }

        header .sub-menu li {
            border-bottom: 1px solid var(--grey);
        }

            header .sub-menu li:last-of-type {
                border-bottom: none;
            }

        header .sub-menu .subnav-item a {
            color: var(--primary);
            text-align: left;
            padding: 1rem;
        }

            header .sub-menu .subnav-item a:hover {
                color: var(--white);
            }

            header .subnav-item:hover {
                background-color: var(--primary);
            }

.overlay {
    border-radius: 0 0 50% 50% / 0 0 50% 50%;
    overflow: hidden;
}