.hero-header {
    position: relative;
}

    .carousel {
        max-height: 730px;
        overflow: hidden;
        z-index: 1;
    }

        .carousel-item {
            transform: translate(0, -10%);
        }

    .circle-graphic {
        position: absolute;
        bottom: 0;
        z-index: 20;
        min-width: 100%;
    }