.mod-teaser {
    background-color: rgba(255,163,25,0.25);
}

    .teaser-box {
        background-color: var(--white);
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

        .teaser-box h3 {
            padding: 20px 20px;
        }

        .teaser-box .btn {
            margin: 0 20px;
        }

/* make colOr great again */
    .mod-teaser .teaser-outer  .row > div:last-child {
        color: var(--blue);
    }

    .mod-teaser .teaser-outer .row > div:first-child {
        color: var(--secondary);
    }

    .mod-teaser .teaser-outer  .row > div {
        color: var(--primary);
    }

    /* make colOr great again, same shit for buttons */
    .mod-teaser .teaser-outer .row > div:last-child .btn-primary {
        background-color: var(--blue);
        border: none;
    }

    .mod-teaser .teaser-outer .row > div:first-child .btn-primary {
        background-color: var(--secondary);
        border: none;
    }

    .mod-teaser .teaser-outer .row > div .btn-primary {
        background-color: var(--primary);
        border: none;
    }



