.mod-menu {
    border-top: 1px solid var(--brown);
}

    .mod-menu .navbar-nav {
        flex-direction: row;
    }

        .mod-menu ul li {
            background-color: unset;
        }

        .mod-menu ul li a {
            color: var(--secondary);
        }

        .mod-menu ul li a:active.navbar-nav,
        .mod-menu ul li a:hover,
        .mod-menu ul li a:focus {
            color: var(--brown);
        }

.product-teaser {
    background-color: rgba(255,163,25,0.25);
}

    .product-img {
        max-width: 100%;
    }