//
// footer
//


footer {
  font-size: $font-size-small;
  line-height: $font-size-small-line-height;

  @media all and (min-width: $breakpoint-md) {
    li + li {
      a {
        padding-top: 1.3rem;
      }
    }
  }

  a {
    text-decoration: none;
    color: $color-text;
    transition: ease all 300ms;
    left: 0;
    position: relative;
    display: inline-block;

    &:hover {
      color: $color-primary;
      text-decoration: none;
      left: .3rem;
    }
  }
}