/* embedded font Barlow */
/* Barlow regular */
@font-face {
  font-family: "Barlow";
  src: url("../fonts/eot/Barlow-Regular.eot");
  src: url("../fonts/otf/Barlow-Regular.otf#iefix") format('embedded-opentype'),
  url("../fonts/woff2/Barlow-Regular.woff2") format('woff2'),
  url("../fonts/woff/Barlow-Regular.woff") format('woff'),
  url("../fonts/ttf/Barlow-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Barlow light */
@font-face {
  font-family: "Barlow";
  src: url("../fonts/eot/Barlow-Light.eot");
  src: url("../fonts/otf/Barlow-Light.otf#iefix") format('embedded-opentype'),
  url("../fonts/woff2/Barlow-Light.woff2") format('woff2'),
  url("../fonts/woff/Barlow-Light.woff") format('woff'),
  url("../fonts/ttf/Barlow-Light.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

/*Barlow semi-bold */
@font-face {
  font-family: "Barlow";
  src: url("../fonts/eot/Barlow-SemiBold.eot");
  src: url("../fonts/otf/Barlow-SemiBold.otf#iefix") format('embedded-opentype'),
  url("../fonts/woff2/Barlow-SemiBold.woff2") format('woff2'),
  url("../fonts/woff/Barlow-SemiBold.woff") format('woff'),
  url("../fonts/ttf/Barlow-SemiBold.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Barlow bold */
@font-face {
  font-family: "Barlow";
  src: url("../fonts/eot/Barlow-Bold.eot");
  src: url("../fonts/otf/Barlow-Bold.otf#iefix") format('embedded-opentype'),
  url("../fonts/woff2/Barlow-Bold.woff2") format('woff2'),
  url("../fonts/woff/Barlow-Bold.woff") format('woff'),
  url("../fonts/ttf/Barlow-Bold.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* base font */
body {
  font-family: "Barlow-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $color-text;  /* base color should always be black/or darkest color available*/
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
}

nav,
a {
  font-size: 1.25rem;
  font-weight: 600;
  color: $color-white;
}

small {
  font-size: 0.75rem;
  font-weight: 400;
}

hr {
  border-bottom: 1px solid var(--white);
}