//
// vars
//

// text
$color-text: #544c4a;

// colors main
$color_primary: #004070;
$color-secondary: #ffa319;

// colors
$color-blue: #0089f0;
$color-brown: #80520d;
$color-grey: #d3d3d3;
$color-green: #8ec73c;
$color-red: #af322e;

// base colors
$color-white: #fff;
$color-black: #000;